---
import { formatHuf, calcValueSmall, TAXPAYERS } from '#utils/format.js';
import cards from '#data/cards.json';

const { card, editable = false } = Astro.props;
const valueSmall = calcValueSmall(card.valueBig);
const editableValue = editable ? "plaintext-only" : undefined;
---

<div class:list={["card", `card-${card.category}`]} data-category={card.category}
  id={editable ? "card-editable" : undefined}
>
  <h2 contenteditable={editableValue}>{card.title}:</h2>

  <div class="value-big value">
    <span class="number" contenteditable={editableValue}>{card.valueBig}</span>
    <span class="label">{card.valueBigTitle}</span>
  </div>

  <div class="value-sep"><span class="label">ez lebontva:</span></div>

  <div class="value-small value">
    <span class="number">{formatHuf(valueSmall)}</span>
    <span class="label">{card.valueSmallTitle}</span>
  </div>

  <p class="descr">{card.descr}</p>


  {Object.keys(card.sources).length > 0 && (
    <div class="sources">
      Forrás:
      {Object.entries(card.sources).map(([name, url]) => (
        <a href={url} target="_blank" rel="noopener">{name}</a>
      ))}
    </div>
  )}
</div>
