---
import { formatHuf, calcValueSmall, TAXPAYERS } from "#utils/format.js";

const { card, editable = false } = Astro.props;

const valueSmall = calcValueSmall(card.valueBig);
const editableValue = editable ? "plaintext-only" : undefined;
---

<div class:list={["card", `card-${card.category}`]} data-category={card.category}
  id={editable ? "card-editable" : undefined}
>
  <h2 contenteditable={editableValue}>{card.title}:</h2>

  <div class="values">
    <div class="value-big value">
      <span class="number" contenteditable={editableValue}>{card.valueBig}</span>
      <span class="currency">{card.valueBigCurrency}</span>
    </div>

    <div class="value-sep"><span class="title">ez lebontva:</span></div>

    <div class="value-small value" class:list={[{ "value-long": (card.valueSmallTitle.length + card.valueSmallCurrency.length) > 25 }]}>
      <span class="number">-{formatHuf(valueSmall)}</span>
      <span class="currency">{card.valueSmallCurrency}</span>
      <span class="title">{card.valueSmallTitle}</span>
    </div>
  </div>

  { card.descr && (
    <p class="descr">{card.descr}</p>
  ) }

  { Object.keys(card.sources).length > 0 && (
    <div class="sources">
      Forrás:
      {Object.entries(card.sources).map(([name, url]) => (
        <a href={url} target="_blank" rel="noopener">{name}</a>
      ))}
    </div>
  )}

  { !editable && (
    <div class="share">
      <a class="share-link" href={`/tema/${card.slug}`}>Megosztás</a>
    </div>
  )}
</div>

<script src="#public/card.js"/>
